.heading-centered {
  text-align: center;
}

* {
 box-sizing: border-box;
}

#right-paragraph {
  border: 1px solid black;
  background-color: #B71C1C;
}

#center-paragraph {
  border: 1px solid black;
  background-color: #880E4F;
}

#left-paragraph {
  border: 1px solid black;
  background-color: #3D5AFE;
}

.paragraph {
  padding: 10px 10px 10px 10px;
  margin: 10px;
}

.heading-paragraph {
  position: relative;
}
